@import "tailwindcss";
@tailwind utilities;


@layer utilities {
  .animated-bg {
    background: linear-gradient(-45deg, #6366f1, #7e22ce, #0ea5e9, #22c55e);
    background-size: 400% 400%;
    animation: gradientMove 10s ease infinite;
  }

  @keyframes gradientMove {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }
}

@keyframes fillBar {
  0% {
    width: 0%;
  }

  100% {
    width: var(--tw-progress);
  }
}

.animate-skillbar {
  animation: fillBar 1.8s ease forwards;
}


.skill-bar {
  width: 0;
  transition: width 1.5s ease-in-out;
}


.skill-badge {
  @apply inline-block bg-indigo-100 text-indigo-800 text-sm px-3 py-1 rounded-full font-medium;
}


@keyframes blink {
  50% {
    opacity: 0;
  }
}

#typing-cursor {
  animation: blink 1s step-end infinite;
}