@import "tailwindcss";
@tailwind utilities;


@layer utilities {
  .animated-bg {
    background: linear-gradient(-45deg, #6366f1, #7e22ce, #0ea5e9, #22c55e);
    background-size: 400% 400%;
    animation: gradientMove 10s ease infinite;
  }

  @keyframes gradientMove {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
}
